// Babel config for Node
// Compiles sources, gulpfile and tests
{
  "presets": [
    ["@babel/preset-env", {
      "targets": {"node": "10.13.0"}
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    ["@babel/plugin-proposal-private-methods", {"loose": true}]
  ]
}
