# node_modules in sub-packages
packages/*/node_modules

# Generated code
packages/*/lib
packages/reporter-treemap/reporter/public

# Vendor code
packages/reporter-treemap/reporter/client/vendor

# Test fixtures
packages/*/test/bundles
packages/*/test/webpack.config.js

# Test results
packages/*/test/output

samples
