html
  head
    meta(charset="UTF-8")
    title Webpack Bundle Visualizer

    link(rel="stylesheet" type="text/css" href="/viewer.css" media="all")

    script(src="/filesize.js")
    script(src="/foamtree/carrotsearch.foamtree.asserts.js")
    script(src="/foamtree/carrotsearch.foamtree.js")
    script(src="/tooltip.js")
    script(src="/viewer.js" defer)

  body
    #treemap.treemap
    script.
      window.chartData = !{chartData};
