<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Webpack Bundle Analyzer</title>

    <%- include('script', { filename: 'viewer.js' }) %>
  </head>

  <body>
    <div id="app"></div>
    <script>
      window.chartData = <%- escapeJson(chartData) %>;
      window.defaultSizes = <%- escapeJson(defaultSizes) %>;
      window.enableWebSocket = <%- escapeJson(enableWebSocket) %>;
    </script>
  </body>
</html>
