.container {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font: normal 11px Verdana;
  outline: none;
  padding: 5px 7px;
  transition: background .3s ease;
  white-space: nowrap;
}

.container:focus,
.container:hover {
  background: rgba(255, 165, 0, 0.15);
}

.container.active {
  background: #ffa500;
  color: #000;
  cursor: default;
}
