.container, .map {
  height: 100%;
  position: relative;
  width: 100%;
}

.sidebarGroup {
  margin-bottom: 20px;
}

.activeSize {
  font-weight: bold;
}

.searchInfo {
  display: flex;
  font: var(--main-font);
  margin: 8px 0;
}

.searchInfoItem + .searchInfoItem {
  margin-left: 15px;
}
