.container, .map {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebarGroup {
  margin-bottom: 20px;
}

.staticSidebar {
  position: relative;
  width: 30%;
}

.activeSize {
  font-weight: bold;
}
