@value toggleTime: 200ms;

.container {
  background: #fff;
  border: none;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
  max-width: calc(50% - 10px);
  opacity: 0.95;
  z-index: 1;
}

.container:not(.hidden) {
  min-width: 200px;
}

.container:not(.pinned) {
  bottom: 0;
  position: absolute;
  top: 0;
  transition: transform toggleTime ease;
}

.container.pinned {
  position: relative;
}

.container.left {
  left: 0;
}

.container.left.hidden {
  transform: translateX(calc(-100% + 7px));
}

.container.right {
  right: 0;
}

.container.right.hidden {
  transform: translateX(calc(100% - 7px));
}

.content {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding: 25px 20px 20px;
  width: 100%;
}

.group {
  font: var(--main-font);
  margin-bottom: 20px;
}

.groupLabel {
  font-weight: bold;
  margin-bottom: 7px;
}

.right .content {
  padding-top: 45px;
}

.empty.pinned .content {
  padding: 0;
}

.pinButton,
.toggleButton {
  cursor: pointer;
  height: 26px;
  line-height: 0;
  position: absolute;
  top: 10px;
  width: 27px;
}

.left .pinButton {
  right: 47px;
}

.right .pinButton {
  left: 47px;
}

.toggleButton {
  padding-left: 6px;
}

.left .toggleButton {
  right: 15px;
}

.right .toggleButton {
  left: 15px;
}

.hidden .toggleButton {
  transition: transform .2s ease;
}

.left.hidden .toggleButton {
  right: -35px;
}

.left.hidden .toggleButton:hover {
  transform: translateX(4px);
}

.right.hidden .toggleButton {
  left: -35px;
}

.right.hidden .toggleButton:hover {
  transform: translateX(-4px);
}

.resizer {
  bottom: 0;
  cursor: col-resize;
  position: absolute;
  top: 0;
  width: 7px;
}

.left .resizer {
  right: 0;
}

.right .resizer {
  left: 0;
}
