.container {
  font: normal 10px Verdana;
  white-space: nowrap;
}

.label {
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 7px;
}

.item {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 7px;
  cursor: pointer;
  transition: background .3s ease;
}

.item:hover {
  background: rgba(255, 165, 0, 0.15);
}

.item.active {
  cursor: default;
  background: #ffa500;
}

.item + .item {
  margin-left: 5px;
}
