.container {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  font: var(--main-font);
  max-width: 500px;
  opacity: 0.7;
  padding: 5px 10px;
  position: absolute;
  transition: opacity .2s ease, visibility .2s ease;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
