name: main
on: [push, pull_request]
jobs:
  build-and-test:
    strategy:
      matrix:
        node:
          - '10'
          - '12'
          - '14'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Download deps
        uses: bahmutov/npm-install@v1

      - name: Build sources
        run: npm run build

      - name: Run tests with xvfb available
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Download deps
        uses: bahmutov/npm-install@v1

      - name: Run lint
        run: npm run lint
